
header {

    .top-nav {
        display: block;
        padding-top: 10px;

        @media (max-width: 991px) {
            display: none;
            background-color: $brand-dark-blue;
            padding-top: 25px;
        }

        .top-nav-wrapper {
            display: flex;
            align-items: center;
            justify-content: end;

            @media (max-width: 991px) {
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                width: fit-content;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding-right: 25px;

                    a {
                        color: $brand-color;
                        font-family: $font-montserrat-bold;
                        font-size: 14px;
                        line-height: 24px;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .navbar {
        padding-bottom: 0;

        @media (max-width: 991px) {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 25px;
            padding-right: 25px;
            transition: padding 0.2s;
        }

        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            z-index: 1000;
            box-shadow: 0 5px 14px -4px rgba(189,189,189,0.28);
            
            @media (max-width: 991px) {
                padding-top: 15px;
                padding-bottom: 15px;
                transition: padding 0.5s;
            }

            .navbar-brand img {
                @media (min-width: 992px) {
                    max-width: 140px;
                }
                transition: all 0.5s;
            }

        }

        .navbar-brand {
            padding-bottom: 20px;

            @media (max-width: 991px) {
                padding-bottom: 0.3125rem;
            }

            img {
                @media (max-width: 991px) {
                    max-width: 128px;
                }
            }
        }

        .navbar-toggler {
            padding: 0;
            width: 20px;

            .navbar-toggler-line {
                display: block;
                width: 100%;
                height: 1px;
                background: $brand-color;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .nav-item {
            position: initial;
            padding-bottom: 20px;

            .nav-link {
                padding-right: 15px;
                margin-right: 16px;
                font-family: $font-montserrat-semibold;
                font-size: 14px;
                list-style: 24px;
                color: $title-color;
                transition: all 0.3s;

                @media (max-width: 991px) {
                    margin-right: 0;
                    font-size: 12px;
                }

                span {
                    display: block;
                    font-family: $font-montserrat;
                    line-height: 1.7;
                }

                &:hover {
                    color: $brand-color;
                    font-family: $font-montserrat-bold;
                    transition: all 0.3s;
                }

                &::before {
                    display: block;
                    content: attr(title);
                    font-family: $font-montserrat-bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }

            a.btn {
                font-size: 14px;
                padding: 8px 40px 8px 16px;
                border-radius: 8px;

                &:after {
                    width: 19px;
                    height: 11px;
                }
            }

            &.nav-btn {
                margin-left: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .toggle-arrow {
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: none ;

                    width: 8px;
                    height: 5px;
                    background-image: url('../assets/images/menu-dropdown.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 991px){
                        background-image: none;
                    }
                }
            }

            .dropdown-menu {
                width: 100%;
                border: 0;
                border-radius: 0;
                box-shadow: 0 15px 22px -4px rgba(189,189,189, .28);
            }


            .next-stage {
                display: block;
            }
        }

        .drop-menu {
            position: absolute; 
            top: 100%; 
            left: 0; 
            width: 100%; 
            background-color: #fff;
            box-shadow: 0 11px 15px 4px rgba(0,0,0,0.10);
            z-index: 1000;
            transition: left .5s;

            display: none;

            @media (max-width: 991px) {
                top: 0; 
                left: 100%; 
                display: block;
                height: 100%;
            }
        
            .container {
                background-color: #fff;
                display: flex;
        
                .nav-link {
                    padding: 0;
                    margin: 0;
                }
            }
            
            .drop-menu-list-title {
                padding-bottom: 20px;

                .menu-title {
                    font-family: $font-montserrat-medium;

                    &.desktop {
                        display: block;
                    }

                    &.mobile {
                        display: none;
                        font-size: 14px;
                        font-family: $font-montserrat-bold;
                        color: $brand-color;
                    }
                }

                .back {
                    display: none;
                    position: relative;
                    padding-left: 30px;
                    font-size: 12px;
                    font-family: $font-montserrat-bold;
                    color: $brand-color;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        display: block;
                        width: 17.18px;
                        height: 10px;
                        background-image: url('../assets/images/back-mobile.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }

            &.no-inner {
                .drop-menu-list {
                    @media (min-width: 992px) {
                        width: 50%;
                    }
                }

                .drop-menu-list-inner {
                    width: 50%;
                }

                .next-stage-inner {
                    display: none !important;
                }

                .no-inner-submenu {
                    display: none;
                    padding-left: 45px;
                    padding-right: 45px;
                    padding-bottom: 30px;

                    @media (max-width: 991px) {
                        display: block;
                    }
                }
            }

            .no-inner-submenu {
                display: none;
            }
        
            .drop-menu-list {
                position: relative;
                width: 29%;
                padding: 20px 0 25px 0;
                box-shadow: 16px 0px 23px -23px rgba(0,0,0,0.10);
                z-index: 1;
                
                @media (min-width: 992px) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 100%;
                        display: block;
                        width: 1000%;
                        height: 100%;
                        background: #fff;
                        overflow: hidden;
                    }
                }

                .drop-menu-list-item {
                    margin-bottom: 20px;

                    .next-stage-inner {
                        display: none;
                    }
                }

                .nav-link {
                    position: relative;
                    margin-right: 0;

                    @media (min-width: 992px) {
                        padding-right: 50px;
                    }

                    // @media (max-width: 991px){
                    //     padding-left: 45px;
                    //     padding-right: 45px;
                    // }

                    &.with-inner-list.active {

                        @media (min-width: 992px) {
                            color: $brand-color;
                            font-family: $font-montserrat-semibold;
                        }

                        &:after {

                            @media (min-width: 992px) {
                                content: '';
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: -17px;
                                width: 0;
                                height: 0;
                                border-top: 17px solid transparent;
                                border-bottom: 17px solid transparent;
                                border-left: 17px solid #fff;
                                box-shadow: 16px 0 23px -23px rgba(0,0,0,0.50);
                            }
                        }
                    }
                }
            }
        
            .drop-menu-list-inner {
                position: relative;
                width: 71%;
                padding: 20px 0 25px 45px;
                background-color: $light-grey;
        
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    display: block;
                    width: 1000%;
                    height: 100%;
                    background: $light-grey;
                    overflow: hidden;
                }
                
                .recommended {
                    margin-bottom: 0px;
                    font-family: $font-montserrat-semibold;
                    font-size: 14px;
                    text-decoration: underline;
                }

                .nav-link {
                    padding-bottom: 20px;
                }
            }
        }


        .mobile-menu-footer {
            display: none;

            padding-left: 42px;
            padding-right: 42px;
            padding-bottom: 30px;
            padding-top: 50px;
        
            a.btn {
                padding: 8px 16px 8px 16px;
                width: 100%;
                font-size: 14px;
                border-radius: 8px;
            }

            ul {
                display: flex;
                align-items: center;
                padding-left: 0;
                margin-bottom: 28px;
                list-style: none;

                li {
                    padding-right: 23px;

                    a {
                        color: $brand-color;
                        font-family: $font-montserrat-bold;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}


//Hover Support
header {

    // .drop-menu {
    //     display: none;
    // }

    .drop-menu-list,
    .drop-menu-list-inner {

        .list-wrapper {
            @media (max-width: 991px) {
                column-count: 1 !important;
            }

            a {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                    break-inside: avoid;
            }
        }
    }
    
    .inner-list {
        display: none;
    
        &:first-child {

            @media (min-width: 992px) {
                display: block;
            }
        }
    }
    
    .nav-item {
        &:hover {
            .drop-menu {
                @media (min-width: 992px) {
                    display: block;
                }
            }
        }
    }
}


//Mobile View Support
@media (max-width: 991px) {
    header {
        .navbar {

            .navbar-collapse {
                position: absolute;
                top: 100%;
                left: 0px;
                width: 100%;
                z-index: 1000;
                box-shadow: 0px 35px 48px -25px rgba(0,0,0,0.34);
                border-top: 5px solid $semi-light-grey;
                background: #fff;
            }

            .navbar-nav {
                padding-left: 55px;
                padding-right: 55px;
                padding-top: 25px;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 5px;

                &.nav-btn {
                    display: none;
                }

                .next-stage {
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-image: url('../assets/images/menu-dropdown-side.png');
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center;
                }
            }

            .mobile-menu-footer {
                display: block;
            }


            .drop-menu {
                box-shadow: none;

                &.show {
                    display: block;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    transition: left 0.5s;
                }

                .container {
                    padding: 0;
                    max-width: 100%;
                }

                .drop-menu-list-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 45px;
                    padding-right: 25px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    margin-bottom: 25px;
                    background: #F3F2F2;

                    .menu-title {
                        &.desktop {
                            display: none;
                        }
    
                        &.mobile {
                            display: block;
                        }
                    }
    
                    .back {
                        display: block;
                    }
                }
    
                .drop-menu-list {
                    padding: 0;
                    width: 100%;
                    box-shadow: none;

                    .drop-menu-list-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 45px;
                        padding-right: 45px;

                        .next-stage-inner {
                            display: block;
                            width: 40px;
                            height: 40px;
                            background-image: url('../assets/images/menu-dropdown-side.png');
                            background-repeat: no-repeat;
                            background-size: auto;
                            background-position: center;
                        }
                    }
                }
    
                .drop-menu-list-inner {
                    // display: none;
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: 100%;
                    top: 0;
                    background: #fff;
                    z-index: 100;
                    padding: 0;
                    box-shadow: 0 35px 48px -25px rgba(0,0,0,0.34);
                    transition: left 0.5s;

                    &.show {
                        // display: block;
                        left: 0;
                        transition: left 0.5s;
                    }

                    .inner-list.show {
                        display: block;
                    }

                    .list-wrapper {
                        padding-left: 45px;
                        padding-right: 45px;
                        padding-bottom: 25px;
                        column-count: 1 !important;
                    }
                }
            }
        }
    }
}
