
.btn {
    padding: 15px 20px;
    font-family: $font-montserrat-bold;
    font-size: 16px;
    border-radius: 12px;

    &.btn-brand {
        color: #fff;
        background-color: $brand-color;
    
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: $hover-brand;
        }
    }

    &.btn-outline-brand {
        color: $brand-color;
        background-color: #fff;
        border: 1px solid $brand-color;
    }

    &.btn-dark-blue {
        color: #fff;
        background-color: $brand-dark-blue;
    
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: $brand-dark-blue;
        }
    }

    &.btn-light-blue {
        color: #fff;
        background-color: $brand-light-blue;
    
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: $hover-light-blue;
        }
    }

    &.btn-mid-grey {
        color: #fff;
        background-color: $dark-mid-grey2;
    
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: $dark-mid-grey2;
        }
    }
    
    &.btn-arrow {
        position: relative;
        padding: 15px 45px 15px 20px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            display: block;
            width: 24px;
            height: 14px;
            background-image: url('../assets/images/btn-arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: all 0.3s;
        }

        &.btn-outline-brand{
            &:after{
                background-image: url('../assets/images/arrow-link.png')!important;
            }
        }

        &:hover:after {
            content: '';
            right: 8px;
            transition: all 0.3s;
        }
    }

    &.btn-lg{
        font-size:18px;
        padding-top:12px;
        padding-bottom:12px;

        @media(max-width:767px){
            font-size:14px;
        }
    }
}

.arrow-link {
    position: relative;
    font-family: $font-montserrat-bold;
    font-size: 18px;
    padding: 0px 50px 0px 0;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        display: block;
        width: 24px;
        height: 14px;
        background-image: url('../assets/images/arrow-link.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 0.3s;
    }

    &.white:after {
        background-image: url('../assets/images/white-arrow.png') !important;
    }

    &:hover:after {
        content: '';
        right: 0;
        transition: all 0.3s;
    }

    &.arrow-link-lg{
        font-size:18px;

        @media(max-width:767px){
            font-size:14px;
        }
    }
}