input.form-control,
select.form-control,
textarea.form-control {
    font-size: 14px;
    padding: 15px 15px;
    border: 2px solid #d8d9dd;
    border-radius: 10px;

    &:focus,
    &:active {
        border: 2px solid $brand-color;
        color: #969191;
        box-shadow: none;
    }

    
    &::-webkit-input-placeholder { 
        color: #d8d9dd;
        font-family: $font-montserrat-semibold;
    }

    &:-ms-input-placeholder {
        color: #d8d9dd;
    }

    &::placeholder {
        color: #d8d9dd;
    }

}