.section-tabs-accordion{
    .tab-container{
        .tab-btn{
            .btn{
                &[aria-expanded="true"]{
                    background-color:#e63e31;
                    pointer-events: none;
                }
            }
        }
        
        .tab-content{
            .accordion-item{
                &{
                    border-bottom: 1px solid #9c9c9c;
                }
                
                .accordion-heading{
                    a{
                        display:block;
                        position:relative;
                        padding-right:30px;
                        
                        &:after{
                            display:flex;
                            align-items:center;
                            position:absolute;
                            top:2px;
                            right:0;
                            
                        }
                        
                        &[aria-expanded="false"]:after{
                            content:url('../assets/images/icon-plus.png');
                        }
                        &[aria-expanded="true"]:after{
                            content:url('../assets/images/icon-minus.png');
                        }
                    }
                }
                
            }
        }
    }
}

.text-title {
    text-transform: unset;
}