.section-investor-graph {
  padding: 40px 0;
  background-color: #f6f6f6;

  .text-holder {
    margin-bottom: 20px;

    h1 {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  iframe {
    width: 100%;
  }

  .img-holder {
    img {
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    padding: 50px 0;
  }
}
