.section-pagination{
    .pagination{
        display:flex;
        align-items: center;

        a{
            margin-left: .25rem!important;
            margin-right: .25rem!important;
            padding: .5rem!important;
            color: #12141d;
            font-size:14px;
            
            
            &:hover{
                color: $brand-color;
            }
            
            &.current{
                font-family: $font-montserrat-semibold;
                color: $brand-color;
            }
            &.prev,
            &.next{
                display:flex;
                align-items:center;
                padding: 0.5rem 3rem!important;
                color: $brand-color;

                @media (max-width:767px){
                    padding: 0.5rem!important;
                }

                &:before,
                &:after{
                    margin-top:12px;
                }
            }
            &.prev{
                &:before{
                    content:url('../assets/images/prev-icon.png');
                    margin-right:0.75rem;
                }
                &.disabled:before{
                    content:url('../assets/images/prev-icon-disabled.png');
                    margin-right:0.75rem;
                }
            }
            &.next{
                &:after{
                    content:url('../assets/images/next-icon.png');
                    margin-left:0.75rem;
                }
                &.disabled:after{
                    content:url('../assets/images/next-icon-disabled.png');
                    margin-left:0.75rem;
                }
            }
            
            &.disabled{
                color: #97989C;
                pointer-events: none;
            }

            @media (max-width:767px){
                display:none;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:last-child{
                    display:flex;
                }
            }
        }
    }
}