.section-search-intro {
    position: sticky;
    top: 117.8px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    z-index: 500;
  .row {
    .col-2 {
      max-width: 190px;
      flex-basis: 190px;
    }
    .col-10 {
      position: relative;
      max-width: calc(100% - 190px);
      flex-basis: calc(100% - 190px);

      .icon-search {
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        left: 30px;
      }
    }
  }

  .links-holder {
    margin-top: 20px;
    text-align: center;

    a {
      font-size: 14px;
      color: $text-color;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.active {
        font-family: $font-montserrat-semibold;
        color: $brand-color;
      }

      &:hover {
        color: $brand-color;
      }
    }
  }
}
