.section-cta{
    img{        
        margin-top:15px;
        margin-bottom:15px;
    }

    .small{
        font-size:75%;
    }

    .arrow-link {
        padding-left: 20px;
        color: #fff;
    }
}