.section-cta {
    .wrapper {
        display: flex;
        justify-content: space-between;
        .content-holder {
            width: 60%;
        }

        .image-holder {
            width: 40%;
            img {        
                margin-top:15px;
                margin-bottom:15px;
            }
        }
    }

    .small{
        font-size:75%;
    }

    .arrow-link {
        padding-left: 20px;
        color: #fff;
        top: 5px;
    }
}

.postid-1809 {
    .section-cta {
        .wrapper {
            .image-holder {
                img {        
                    margin-bottom: unset;
                    max-width: fit-content;
                }
            }
        }
    }
}

.postid-1788,
.postid-1775 {
    .section-cta {
        .wrapper {
            .image-holder {
                img {        
                    margin-top: 37px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .section-cta {
        .wrapper {  
            .content-holder {
                width: 100%;         
                .content {
                    display: flex;
                    flex-direction: column;
                } 
            }
            
            .image-holder {
                display: none;
            }
        }
    }

    .postid-1809 {
        .section-cta {
            .wrapper {
                .image-holder {
                    img {        
                        margin-bottom: 15px;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}