.partner-ecosystem {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }

  .ecosystem-wrapper {
    margin: 40px auto 0;
    max-width: 700px;

    .ecosystem-item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .icon-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;

        img {
          display: block;
          width: 100%;
        }
      }

      .text-holder {
        padding-left: 84px;

        h2 {
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
