.section-cta-post{
    .background-image{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        @media(max-width: 992px){
            background-image: none !important;
            background-color: $brand-dark-blue;
        }
    }
}