.setupGuide {
    .textImage {
        .details {
            width: 65%;            
            p {
                font-family: 'Montserrat';
                font-size: 14px;
            }

            .image {
                position: relative;
                top: auto;
                bottom: 30rem;
                .img-fluid {
                    max-width: unset;
                    position: absolute;
                    left: 35rem;
                }
            }
        }

        .downloadButtonsHolder {
            .downloadButton {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                a {

                    display: flex;
                    flex-wrap: wrap;
                    max-width: 100%;
                    padding: 10px 40px 10px 15px;
                    text-align: left;
                    white-space: unset;
                    @media(max-width: 980px){
                        width: 100%;
                    }
                }
            }
        }
    }

    .accordion {
        .accordion-heading {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .icon {
                color: #e63e31;
                font-family: "Montserrat";
                font-size: 40px;
                font-weight: normal;
            }
        }

        .accordion-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.363);
        }
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        .textImage {
            h3 {
                margin: unset;
            }
            .details {
                display: flex;
                flex-flow: column;
                width: 100%;
                .image {
                    position: unset;
                    display: flex;
                    justify-content: center;
                    .img-fluid {
                        width: 60% !important;
                        max-width: 100%;
                        position: unset;
                    }
                }
            }

            .downloadButtonsHolder {
                display: flex;
                flex-flow: column;
                order: 3;
            }
        }
    }

    @media screen and (max-width: 767px) and (min-width: 320px) {
        .textImage {
            margin: 2rem 2rem 0 2rem !important;
            .details {
                display: flex;
                flex-flow: column;
                width: 100%;
                .image {
                    position: unset;
                    display: flex;
                    justify-content: center;
                    .img-fluid {
                        max-width: 100%;
                        position: unset;
                    }
                }
            }

            .downloadButtonsHolder {
                display: flex;
                flex-flow: column;
                order: 3;
                .downloadButton {
                    flex-flow: column;
                    .documentation {
                        margin: 9px 0 0;
                    }

                    a {
                        margin-right: unset;
                    }
                }

                a {
                    margin-left: unset;
                }
            }
        }

        .accordion {
            margin: 0 2rem 2rem 2rem !important;
            .accordion-item {
                margin: 0 2rem !important;  
            }
        }
    }
}

.postid-1806,
.postid-1797,
.postid-1788,
.postid-1775, 
.postid-1767,
.postid-1732 {
    .download-btn-holder:last-child {
        .download-btn,
        .download-btn:hover {
            background: transparent;
        }
    }
}

.postid-1826 {
    .download-btn-holder:nth-child(2),
    .download-btn-holder:last-child {    
        .download-btn, 
        .download-btn:hover {
            background: transparent;
        }
    }
}
