.solution-boxes{

    h3 {
        font-size: 26px;
        line-height: 36px;
        font-family: $font-montserrat-semibold;
    }

    p {
        min-height: 192px;
    }

    .btn {
        display: block;
        width: 213px;
        margin: 0 auto;
    }

    .btn-holder {
        margin-bottom: 15px;
    }

}