.widget-share{
    .title{
        color: $brand-color;
        font-size: 14px;
        line-height: 24px;
        font-family: $font-montserrat-bold;
    }
    .social-icon{
        margin: auto;
    }
}