.widget-up-date{
    background-color: $brand-dark-blue;
    .title{
        font-size: 18px;
        line-height: 28px;
        font-family: $font-montserrat-semibold;
    }
    .description{
        font-size: 14px;
        line-height: 24px;
        font-family: $font-montserrat-semibold;
    }
}