.section-terms-of-use{
    ul{
        li{
            margin-bottom:2rem;
        }
    }
}
.section-pdf-links{
    p{
        font-size:90%;
        line-height:1.4;
    }
}

.page-id-2965 {
    .et_pb_text_inner {
        margin: 20px 0;
        table {
            border: 1px solid; 
            tr {
                border: 1px solid;
                th {
                    width: 33%;
                    padding: 10px 20px;
                    border: 1px solid;
                }
            }
            tbody {
                border: 1px solid;
                tr {
                    border: 1px solid;
                }
                td {
                    padding: 10px 20px;
                    border: 1px solid;
                }
            }
        }
    }
}

.page-id-2963 {
    .et_pb_text_inner {
        margin: 20px 0;
        table {
            border: 1px solid; 
            tr {
                border: 1px solid;
                th {
                    width: 25%;
                    padding: 10px 20px;
                    border: 1px solid;
                }
            }
            tbody {
                border: 1px solid;
                tr {
                    border: 1px solid;
                }
                td {
                    padding: 10px 20px;
                    border: 1px solid;
                }
            }
        }
    }
    .list {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        width: 100%;
        border: 1px solid;
        p {
            width: 33.3%;
            border-bottom: 1px solid;
            padding: 10px 20px;
        }
        p:last-child {
            border: unset;
        }
    }
}