//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-montserrat-light: 'Montserrat Light';
$font-montserrat: 'Montserrat';
$font-montserrat-medium: 'Montserrat Medium';
$font-montserrat-semibold: 'Montserrat Semibold';
$font-montserrat-bold: 'Montserrat Bold';


/// @type List
$text-font-stack: $font-montserrat, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #12141d !default;
$title-color: #12141d !default;

/// Main brand color
/// @type Color
$brand-color: #e63e31 !default;

//blue
$brand-dark-blue: #1f284f !default;
$brand-light-blue: #3a6097 !default;

/// Light greyc
/// @type Color
$light-grey: #F3F2F2 !default;

/// Light grey2
/// @type Color
$light-grey2: #F6F6F6 !default;

/// Semi Mid grey
/// @type Color
$semi-mid-grey: #CECECE !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark medium grey
/// @type Color
$dark-mid-grey: #CCCCCC !default;

/// Dark grey
/// @type Color
$dark-grey: #686a72 !default;

/// Yellow
/// @type Color
$yellow : #FFC947 !default;

/// hover
$hover-brand: #d93124 !default;
$hover-light-blue: #2c4a74 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
