//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $brand-color;
    text-decoration: none;
  }
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    @include boxshadow(none);
  }
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    @include boxshadow(none);
  }
}

//styles for navbar-toggler
.navbar-toggler {
  padding: 10px 0;

  border: 0;
  border-radius: 0;

  .icon-bar {
    display: block;
    height: 4px;
    width: 29px;

    background: #000;

    @include transition(0.5s cubic-bezier(0.65, 0.05, 0.36, 1));

    @include boxshadow(none);

    &+.icon-bar {
      margin-top: 4px;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      &:first-child {
        @include transform(rotate(225deg) translate(-6px, -5px));
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(-225deg) translate(-6px, 6px));
      }
    }
  }

  @include on-event() {
    outline: 0;
  }
}


@media (min-width: 1200px) {
  .container {
      max-width: 970px;
  }
}

// Nav Animation

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

// Backgrounds
.bg-dark-blue{
  background-color: $brand-dark-blue;
}
.bg-light-grey2{
  background-color: $light-grey2;
}
.bg-light-grey2{
  background-color: $light-grey2;
}

//Linear Gradient
.linear-gradient-grey2{
  background-image: linear-gradient(to bottom, rgba(214, 214, 214, 0.47) 4%, rgba(251, 251, 251, 0.47) 43%);
}

//Shadows
.shadow{  
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.shadow-bottom{
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
}

//Borders
.border,
.border-top,
.border-bottom,
.border-left,
.border-right{
  border-color: $dark-mid-grey!important;
}

.rounded{
  border-radius: 10px!important;
}

.border-orange{
  border-color: $brand-color!important;
}