//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 28px;
  }
}

h1,
.h1,
.title-ticker {
  font-size: 26px;
  line-height: 36px;
  font-family: $font-montserrat-semibold;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 32px;
  }
}

h2, h3 {
  font-size: 50px;
  line-height: 60px;
  color: $title-color;

  @media (max-width: 991px) {
    font-size: 38px;
    line-height: 48px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 40px;
  }
}

h4{
  strong{    
    font-family: $font-montserrat-bold;
  }  
}

//Font Weight
.font-bold{
  font-family: $font-montserrat-bold;
}
.font-semi-bold{
  font-family: $font-montserrat-semibold;
}

//Text Colors
.text-yellow{
  color: $yellow;
}
.text-orange{
  color: $brand-color;
}
.text-black{
  color: black;
}

//Line Heights
.line-height-1{
  line-height:1rem;
}
.line-height-2{
  line-height:1.5rem;
}
.line-height-3{
  line-height:1.75rem;
}

//List
ul.list-check{
  padding-left: 0;
  list-style: none;
  
  li{
      position:relative;
      margin-bottom: 1.5rem!important;
      padding-left: 1.75rem;
      
      &:before{
          content:url($base-url + 'images/check.png');
          position:absolute;
          top:0;
          left:0;
      }
    }
}